* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  color: #00252e;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  width: 100vw; }

.heading-1, .heading-2, .heading-3 {
  line-height: 1.5;
  color: #00252e; }

.heading-1 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 4.78em; }
  @media (max-width: 37.5em) {
    .heading-1 {
      font-size: 2.4em; } }

.heading-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 2em; }

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4em; }
  @media (max-width: 37.5em) {
    .heading-3 {
      font-size: 2.4em; } }

.btn {
  color: #ffffff;
  border-radius: 4rem;
  background-color: #ff52c1;
  box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.22);
  border: none;
  padding: 2.5rem 10rem;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.44); }
  .btn:active {
    transform: translateY(1px);
    box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.44); }
  .btn--small {
    padding: 0.9rem 3rem;
    font-size: 1.6em;
    font-weight: 400; }
  .btn--rectangle {
    padding: 1.2rem 4.1rem;
    border-radius: 0.5rem;
    font-size: 1.6em;
    box-shadow: none; }
    .btn--rectangle:hover {
      transform: translateY(-3px);
      box-shadow: none; }
    .btn--rectangle:active {
      transform: translateY(1px);
      box-shadow: none; }
  .btn--transparent {
    position: relative;
    box-shadow: inset 0px 6px 13px 0px rgba(0, 37, 46, 0.08);
    border: 1px solid #ff52c1;
    color: #ff52c1;
    background-color: transparent; }
    .btn--transparent::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4rem;
      background-color: transparent;
      box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.22); }
      .btn--transparent::before:hover {
        transform: translateY(-3px);
        box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.44); }
      .btn--transparent::before:active {
        transform: translateY(1px);
        box-shadow: 0px 6px 13px 0px rgba(0, 37, 46, 0.44); }
    .btn--transparent:hover {
      transform: translateY(-3px);
      box-shadow: inset 0px 6px 13px 0px rgba(0, 37, 46, 0.08); }
    .btn--transparent:active {
      transform: translateY(1px);
      box-shadow: inset 0px 6px 13px 0px rgba(0, 37, 46, 0.08); }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 1.2em;
      padding: 1.1rem 4rem; }
      .btn--small {
        font-size: 0.94em;
        padding: 0.5rem 1.8rem; } }

.logo__link {
  display: block;
  height: 3.8em; }
  .logo__link img {
    max-height: 100%; }
  @media (max-width: 37.5em) {
    .logo__link {
      height: 1.6em;
      margin-top: auto;
      margin-bottom: auto; } }

.input {
  width: 100%;
  border-radius: 0.6rem;
  padding: 1rem;
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border: none; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  padding-right: 6rem;
  padding-bottom: 0; }
  @media (max-width: 37.5em) {
    .nav {
      padding: 2.4rem;
      padding-bottom: 0; } }

.header {
  padding: 22.6rem 21.5rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: inherit; }
  .header__secondary-text {
    padding: 2.7rem 20rem;
    padding-bottom: 4.8rem; }
  .header__mockups {
    margin-top: 11rem;
    max-width: 100%; }
  .header__metrics {
    padding: 12.3rem 6.5rem;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between; }
    .header__metrics__info__icon {
      display: block;
      width: 5rem; }
    .header__metrics__info__text {
      line-height: 1.5;
      font-size: 1em; }
      .header__metrics__info__text--main {
        display: block;
        font-size: 9.6em;
        font-weight: 700;
        text-align: left;
        color: #00252e; }
      .header__metrics__info__text--sub {
        display: block;
        padding-top: 3px;
        font-size: 2.4em;
        font-weight: 400;
        text-align: center;
        color: #808e9a; }
    @media (max-width: 37.5em) {
      .header__metrics {
        padding: 12.5rem 0;
        padding-bottom: 13.3rem;
        flex-direction: column;
        align-items: center; }
        .header__metrics__info {
          max-width: 16rem; }
          .header__metrics__info:last-child {
            margin-top: 9.1rem; }
          .header__metrics__info__icon {
            width: 3rem; }
          .header__metrics__info__text--main {
            text-align: center;
            font-size: 6.1em; }
          .header__metrics__info__text--sub {
            font-size: 1.53em; } }
  @media (max-width: 37.5em) {
    .header {
      padding: 11.2rem 4rem;
      padding-bottom: 1rem; }
      .header__secondary-text {
        padding: 2.4rem 0;
        font-size: 1.4em; } }

.feature__background {
  display: block;
  width: 100%; }

.feature--2 {
  padding-top: 19rem;
  padding-bottom: 11.1rem; }
  .feature--2 > div {
    padding-top: 4rem; }

.feature--3 > div {
  padding-top: 3rem; }

.feature__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
  grid-column-gap: 3rem;
  background-color: #f6fbff;
  padding: 3rem 8rem;
  padding-top: 7.25rem; }
  .feature__info__text {
    z-index: 1;
    font-size: 1em;
    padding: 0 5rem;
    margin: auto;
    line-height: 1.5; }
    .feature__info__text--main {
      display: block;
      font-family: "Poppins", sans-serif;
      font-size: 4em;
      font-weight: 700; }
    .feature__info__text--sub {
      display: block;
      padding-top: 2.6rem;
      font-size: 1.6em;
      font-weight: 400; }
  .feature__info__image {
    z-index: 1;
    display: block;
    width: 100%;
    padding: 0 6rem; }
  .feature__info--no-background {
    background-color: inherit; }

@media (max-width: 37.5em) {
  .feature__info {
    padding: 3rem 2.8rem; }
    .feature__info__image {
      padding: 0 3rem;
      grid-column: 1;
      grid-row: 1;
      max-width: 27rem; }
    .feature__info__text {
      max-width: 32rem;
      grid-row: 2;
      margin: 0;
      margin-top: 7.42rem;
      padding: 0;
      text-align: center; }
      .feature__info__text--main {
        font-size: 2em; }
      .feature__info__text--sub {
        font-size: 1.4em;
        padding-top: 1.6rem; } }

.call-to-action {
  text-align: center;
  padding: 18rem 0; }
  @media (max-width: 37.5em) {
    .call-to-action {
      padding-top: 12rem;
      padding-bottom: 15rem; } }
  .call-to-action__text {
    padding-bottom: 4rem; }

.footer__background {
  display: block;
  width: 100%;
  margin-bottom: -0.75px; }

.footer__content {
  display: grid;
  grid-template-areas: "contact newsletter" "socials .";
  grid-column-gap: 16rem;
  background-color: #00252e;
  padding: 12.25rem 12rem;
  padding-bottom: 10rem; }

.footer__info {
  color: #ffffff; }
  .footer__info--contact {
    grid-area: contact; }
  .footer__info--newsletter {
    grid-area: newsletter; }
  .footer__info__logo {
    padding-bottom: 2.2rem;
    width: 24rem; }
  .footer__info__newsletter__text {
    width: 34.9rem;
    font-size: 1em;
    padding-bottom: 4rem; }
    .footer__info__newsletter__text--main {
      display: block;
      text-transform: uppercase;
      line-height: 1.5;
      font-size: 2.4em;
      font-weight: 700; }
    .footer__info__newsletter__text--sub {
      display: block;
      margin-top: 1.6rem;
      line-height: 1.714;
      font-weight: 600;
      font-size: 1.4em; }
  .footer__info__newsletter__form {
    display: flex;
    justify-content: space-between; }
    .footer__info__newsletter__form > input {
      margin-right: 4rem; }
  .footer__info__social__link {
    margin-right: 2.4rem; }
  .footer__info__social__icon {
    width: 3.2rem;
    height: 3.2rem; }
  .footer__info__text {
    width: 34.4rem;
    line-height: 1.714;
    font-weight: 600;
    font-size: 1.4em; }
  .footer__info__contact {
    display: block;
    font-size: 1.6em;
    line-height: 1.5; }
    .footer__info__contact__icon {
      margin-right: 2rem; }
    .footer__info__contact__text {
      color: #ffffff; }
    .footer__info__contact:not(:last-child) {
      margin-bottom: 1.6rem; }
    .footer__info__contacts {
      padding-top: 2.4rem; }
  .footer__info__socials {
    grid-area: socials;
    padding-top: 8rem; }

@media (max-width: 37.5em) {
  .footer__content {
    padding: 4.6rem 2.8rem;
    grid-template-areas: "newsletter" "contact" "socials";
    grid-template-columns: initial; }
  .footer__info__contact {
    font-size: 1.4em; }
  .footer__info__socials {
    padding-top: 4.8rem; }
  .footer__info__social__link {
    margin-right: 1.73rem; }
  .footer__info__social__icon {
    width: 2.3rem;
    height: 2.3rem; }
  .footer__info--newsletter {
    margin-bottom: 10.4rem; }
  .footer__info__text {
    width: 100%;
    font-size: 1.4em; }
  .footer__info__newsletter__text {
    width: 100%; }
    .footer__info__newsletter__text--main {
      font-size: 2em; }
    .footer__info__newsletter__text--sub {
      font-size: 1.4em;
      font-weight: 600; }
  .footer__info__newsletter__form {
    flex-direction: column; }
    .footer__info__newsletter__form > input {
      margin-right: 0; }
    .footer__info__newsletter__form > button {
      margin-top: 1.6rem;
      margin-left: 16rem; } }
