.feature {
  &__background {
    display: block;
    width: 100%;

    &--top {
    }
    &--bottom {
    }
  }

  &--2 {
    padding-top: 19rem;
    padding-bottom: 11.1rem;
  }

  // Section container
  &s {
  }

  &__info {
    position: relative;
    display: grid;
    // TODO: Change minmax
    grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr));
    grid-column-gap: 3rem;
    background-color: $color-primary-light;
    padding: 3rem 8rem;

    &__text {
      z-index: 1;
      font-size: 1em;
      padding: 0 5rem;
      margin: auto;
      line-height: 1.5;
      &--main {
        display: block;
        font-family: $font-display;
        font-size: 4em;
        font-weight: 700;
      }
      &--sub {
        display: block;
        padding-top: 2.6rem;
        font-size: 1.6em;
        font-weight: 400;
      }
    }

    &__image {
      z-index: 1;
      display: block;
      width: 100%;
      padding: 0 6rem;
    }

    &--no-background {
      background-color: inherit;
    }
  }
}
