.footer {
  &__background {
    display: block;
    width: 100%;
  }

  &__content {
    display: grid;
    // TODO: Change minmax
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-column-gap: 25rem;
    background-color: $color-black;
    padding: 11.5rem 10rem;
  }

  &__info {
    color: $color-white;
    &__logo {
      padding-bottom: 2.7rem;
      width: 24rem;
    }
    &__newsletter {
      &__text {
        width: 70%;
        font-size: 1em;
        padding-bottom: 4rem;
        &--main {
          display: block;
          text-transform: uppercase;
          line-height: 1.5;
          font-size: 2.4em;
          font-weight: 700;
        }
        &--sub {
          display: block;
          margin-top: 1.6rem;
          line-height: 1.714;
          font-weight: 600;
          font-size: 1.4em;
        }
      }
      &__form {
        display: flex;
        justify-content: space-between;

        & > input {
          margin-right: 4rem;
        }
      }
    }
    &__social {
      &__link {
        margin-right: 2.4rem;
      }
      &__icon {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    &__text {
      width: 68%;
      line-height: 1.714;
      font-weight: 600;
      font-size: 1.4em;
    }
    &__contact {
      display: block;
      font-size: 1.6em;
      line-height: 1.5;
      &__icon {
        margin-right: 2rem;
      }
      &__text {
        color: $color-white;
      }
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      &s {
        padding-top: 2.4rem;
      }
    }
    &__socials {
      padding-top: 8rem;
    }
  }
}
