.header {
  padding: 22.6rem 21.5rem;
  padding-bottom: 12rem;
  text-align: center;
  font-size: inherit;

  &__secondary-text {
    padding: 2.7rem 20rem;
    padding-bottom: 4.8rem;
  }

  &__mockups {
    margin-top: 12rem;
  }

  &__metrics {
    padding: 12.3rem 6.5rem;
    padding-bottom: 13.3rem;
    display: flex;
    justify-content: space-between;

    &__info {
      &__icon {
        display: block;
        width: 5rem;
      }
      &__text {
        line-height: 1.5;
        font-size: 1em;
        &--main {
          display: block;
          font-size: 9.6em;
          font-weight: 700;
          text-align: left;
          color: $color-black;
        }

        &--sub {
          display: block;
          padding-top: 3px;
          font-size: 2.4em;
          font-weight: 400;
          text-align: center;
          color: $color-grey;
        }
      }
    }
  }
}
