.header {
  padding: 22.6rem 21.5rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: inherit;
  &__secondary-text {
    padding: 2.7rem 20rem;
    padding-bottom: 4.8rem;
  }

  &__mockups {
    display: block;
    max-width: 100%;
    margin: auto;
    margin-top: 11rem;
  }

  &__metrics {
    padding: 12.3rem 6.5rem;
    // There's no "exact" value on the mockup
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;

    &__info {
      &__icon {
        display: block;
        width: 5rem;
      }
      &__text {
        line-height: 1.5;
        font-size: 1em;
        &--main {
          display: block;
          font-size: 9.6em;
          font-weight: 700;
          text-align: left;
          color: $color-black;
        }

        &--sub {
          display: block;
          padding-top: 3px;
          font-size: 2.4em;
          font-weight: 400;
          text-align: center;
          color: $color-grey;
        }
      }
    }

    @media (max-width: $width-mobile) {
      padding: 12.5rem 0;
      padding-bottom: 13.3rem;
      flex-direction: column;
      align-items: center;

      &__info {
        max-width: 16rem;
        &:last-child {
          margin-top: 9.1rem;
        }

        &__icon {
          width: 3rem;
        }

        &__text {
          &--main {
            text-align: center;
            font-size: 6.1em;
          }

          &--sub {
            font-size: 1.53em;
          }
        }
      }
    }
  }

  // https://medium.com/@barrypeng6/why-should-not-use-rem-unit-in-media-query-5645d0163ce5#:~:text=Unit%20rem%20in%20media%20queries,queries%20before%20the%20bug's%20fixed.
  @media (max-width: $width-mobile) {
    padding: 11.2rem 4rem;
    padding-bottom: 1rem;

    &__secondary-text {
      padding: 2.4rem 0;
      font-size: 1.4em;
    }
  }
}
