.header {
  padding: 22.6rem 21.5rem;
  padding-bottom: 12rem;
  text-align: center;
  font-size: inherit;

  &__secondary-text {
    padding: 2.7rem 20rem;
    padding-bottom: 4.8rem;
  }

  &__mockups {
    margin-top: 12rem;
  }
}
